<template>
  <ul class="list-group ">
    <li class="list-group-item" v-for="actor in actors" ><router-link :to="{ name: 'actor', params: { id: actor.id }}" replace>{{ actor.firstName }} {{ actor.lastName}}</router-link></li>
  </ul>
</template>

<script>
export default {
  name: 'Actors',
  data () {
    return {
      actors: []
    }
  },
  mounted () {
    this.$http.get(`${this.$parent.API_URL}/actors`)
      .then(
        data => {
          this.actors = data.body
        },
        response => {}
      )
  }
}
</script>

<style scoped>

</style>
