<template>
  <form v-on:submit.prevent="onsubmit">
    <label for="firstName">Nom</label>
    <input id="firstName" v-model="firstName" type="text">
    <label for="lastName">Préom</label>
    <input id="lastName" v-model="lastName" type="text">
    <input type="submit" value="valider" class="btn btn-success">
    <button v-if="this.id" class="btn btn-danger" v-on:click="remove">Supprimer</button>
  </form>
</template>

<script>
export default {
  name: 'CategoryEdit',
  props: ['id'],
  methods: {
    remove () {
      this.$http.delete(`${this.$parent.API_URL}/actors/${this.id}`)
    },
    onsubmit () {
      if (this.id) {
        this.$http.put(`${this.$parent.API_URL}/actors/${this.id}`,
          {
            firstName: this.firstName,
            lastName: this.lastName
          },this.$parent.headers)
      } else {
        this.$http.post(`${this.$parent.API_URL}/actors`,
          {
            firstName: this.firstName,
            lastName: this.lastName
          },this.$parent.headers)
      }
    }
  },
  data () {
    return {
      firstName: '',
      lastName: ''
    }
  },
  mounted () {
    if (this.id) {
      this.$http.get(`${this.$parent.API_URL}/actors/${this.id}`).then(
        data => {
          this.firstName = data.body.firstName
          this.lastName = data.body.lastName
        }
      )
    }
  }
}
</script>

<style scoped>

</style>
