<template>
  <article v-if="this.actor">
    <h1>{{actor.firstName}} {{actor.lastName}}</h1>
    <b-card
            v-for="film in actor.movies"
            :title="film.title"
            :img-src="film.poster"
            img-alt="Image"
            img-top
            tag="article"
            class="col-md-4 mb-2">

      <router-link :to="{ name: 'Film', params: { id: film.id}}" class="btn btn-primary " replace>Voir la fiche</router-link>
    </b-card>
  </article>
</template>

<script>
export default {
  name: 'Actor',
  props: ['id'],
  data () {
    return {
      actor: null
    }
  },
  mounted () {
    this.$http.get(`${this.$parent.API_URL}/actors/${this.id}`)
      .then(
        data => {
          this.actor = data.body
        },
        response => {}
      )
  }
}
</script>

<style scoped>

</style>
