<template>
  <form v-on:submit.prevent="onsubmit">
    <label for="name">Nom</label>
    <input id="name" v-model="name" type="text">
    <input type="submit" value="valider" class="btn btn-success">
    <button v-if="this.id" class="btn btn-danger" v-on:click="remove">Supprimer</button>
  </form>
</template>

<script>
export default {
  name: 'CategoryEdit',
  props: ['id'],
  methods: {
    remove () {
      this.$http.delete(`${this.$parent.API_URL}/actors/${this.id}`)
    },
    onsubmit () {
      if (this.id) {
        this.$http.put(`${this.$parent.API_URL}/categories/${this.id}`,
          {
            'name': this.name
          },this.$parent.headers)
      } else {
        this.$http.post(`${this.$parent.API_URL}/categories`,
          {
            'name': this.name
          },this.$parent.headers)
      }
    }
  },
  data () {
    return {
      name: ''
    }
  },
  mounted () {
    if (this.id) {
      this.$http.get(`${this.$parent.API_URL}/categories/${this.id}`).then(
        data => {
          this.name = data.body.name
        }
      )
    }
  }
}
</script>

<style scoped>

</style>
