<template>
  <article v-if="film">
    <router-link class="d-inline" to="/films">Retour à la liste</router-link>
    <h1>{{ film.title }}</h1>
    <b>{{film.category}}</b>
    <img :src="film.poster" alt="">
    <p>{{film.synopsis}}</p>
      <ul class="list-group ">
        <li class="list-group-item" v-for="actor in film.actors" ><router-link :to="{ name: 'Actor', params: { id: actor.id }}" replace>{{ actor.firstName }} {{ actor.lastName}}</router-link></li>
      </ul>
  </article>
</template>

<script>
export default {
  name: 'Film',
  props: ['id'],
  data () {
    return {
      film: null
    }
  },
  mounted () {
    this.$http.get(`${this.$parent.API_URL}/movies/${this.id}`)
      .then(
        data => {
          this.film = data.body
        },
        response => {}
      )
  }

}
</script>

<style scoped>

</style>
