<template>
  <form v-on:submit.prevent="onsubmit">
    <label for="title">Titre</label>
    <input id="title" v-model="title" type="text">
    <label for="year">Année de sortie</label>
    <input id="year" v-model="year" type="number">
    <label for="poster">url de l'affiche</label>
    <input id="poster" v-model="poster" type="url">
    <label for="synopsis">synopsis</label>
    <textarea id="synopsis" v-model="synopsis"></textarea>
    <label for="category">catégorie de film</label>
    <select id="category" v-model="category">
      <option v-for="elCategory in categoriesList" :value="elCategory.id">{{elCategory.name}}</option>
    </select>
    <label for="actors">Acteurs</label>
    <select multiple id="actors" v-model="actors">
      <option v-for="elActor in actorsList" :value="elActor.id">{{elActor.FirstName}} {{elActor.LastName}}</option>
    </select>
    <input type="submit" value="valider" class="btn btn-success">
    <button v-if="this.id" class="btn btn-danger" v-on:click="remove">Supprimer</button>
  </form>
</template>

<script>
export default {
  name: 'FilmEdit',
  props: ['id'],
  methods: {
    remove () {
      this.$http.delete(`${this.$parent.API_URL}/actors/${this.id}`)
    },
    onsubmit () {
      if (this.id) {
        this.$http.put(`${this.$parent.API_URL}/movies/${this.id}`,
          {
            'title': this.title,
            'synopsis': this.synopsis,
            'poster': this.poster,
            'year': this.year,
            'category': this.category,
            'actors': this.actors
          },this.$parent.headers)
      } else {
        this.$http.post(`${this.$parent.API_URL}/movies`,
          {
            'title': this.title,
            'synopsis': this.synopsis,
            'poster': this.poster,
            'year': this.year,
            'category': this.category,
            'actors': this.actors
          },this.$parent.headers)
      }
    }
  },
  data () {
    return {
      categoriesList: [],
      actorsList: [],
      title: '',
      synopsis: '',
      poster: '',
      year: '',
      category: null,
      actors: []
    }
  },
  mounted () {
    this.$http.get(`${this.$parent.API_URL}/actors`)
      .then(
        data => {
          this.actorsList = data.body
        },
        response => {}
      )
    this.$http.get(`${this.$parent.API_URL}/categories`)
      .then(
        data => {
          this.categoriesList = data.body
        },
        response => {}
      )
    if (this.id) {
      this.$http.get(`${this.$parent.API_URL}/movies/${this.id}`).then(
        data => {
          this.title = data.body.title
          this.synopsis = data.body.synopsis
          this.poster = data.body.poster
          this.year = data.body.year
          this.category = data.body.category
          this.actors = data.body.actors
        }
      )
    }
  }
}
</script>

<style scoped>

</style>
