<template>
  <div>
    <select class="form-control" v-model="order">
      <option value="title">trier par titre</option>
      <option value="category">trier par categorie</option>
    </select>
    <div class="row">
      <b-card
              v-for="film in films"
              :title="film.title"
              :img-src="film.poster"
              img-alt="Image"
              img-top
              tag="article"
              class="col-md-4 mb-2">

        <router-link :to="{ name: 'film', params: { id: film.id}}" class="btn btn-primary " replace>Voir la fiche
        </router-link>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Films',
  data () {
    return {
      films: [],
      order: 'title'
    }
  },
  watch: {
    order: function () {
      this.load()
    }
  },
  methods: {
    load () {
      this.$http.get(`${this.$parent.API_URL}/movies`,
        {
          'orderBy': this.order
        })
        .then(
          data => {
            this.films = data.body
          },
          response => {}
        )
    }
  },
  mounted () {
    this.load()
  }
}
</script>

<style scoped>

</style>
