<template>
  <div>
    <router-link class="btn btn-primary" to="/actors">Les acteurs</router-link>
    <router-link class="btn btn-primary" to="/films">Les films</router-link>
    <router-link class="btn btn-primary" to="/actor/add">Ajouter un acteur</router-link>
    <router-link class="btn btn-primary" to="/film/add">Ajouter un film</router-link>
  </div>
</template>

<script>
  export default {
    name: 'Index'
  }
</script>

<style scoped>

</style>
