<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Movie API</title>
</head>
<body>
<div class="container">
    <h1>Movie API</h1>
    <p class="sw-info">Base URL: <span class="sw-info-basePath">/</span>, Version: <span class="sw-info-version">1.0.0</span></p>
    <p><p>Ma collection de movies</p>
    </p>


    <div id="sw-schemes" class="sw-default-value">
        <span class="sw-default-value-header">Schemes:</span>
        https, http
    </div>


    <h2 id="swagger--summary-tags">Summary</h2>
    <h3 id="tag-Category" class="swagger-summary-tag">Tag: Category</h3>
    <p>Routes for Categories</p>


    <table class="table table-bordered table-condensed swagger--summary">
        <thead>
        <tr>
            <th>Operation</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#operation--categories-post">POST /categories</a></td>
            <td><p>Add a new category.</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--categories-get">GET /categories</a></td>
            <td><p>get the list of categories</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--categories--categoryId--get">GET /categories/{categoryId}</a></td>
            <td><p>Find Category by ID</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--categories--categoryId--delete">DELETE /categories/{categoryId}</a></td>
            <td><p>delete a category</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--categories--categoryId--put">PUT /categories/{categoryId}</a></td>
            <td><p>update a category</p>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 id="tag-Movie" class="swagger-summary-tag">Tag: Movie</h3>
    <p>Routes for movies</p>


    <table class="table table-bordered table-condensed swagger--summary">
        <thead>
        <tr>
            <th>Operation</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#operation--movies-post">POST /movies</a></td>
            <td><p>Add a new movie.</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--movies-get">GET /movies</a></td>
            <td><p>get the list of movies</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--movies--movieId--get">GET /movies/{movieId}</a></td>
            <td><p>Find Movie by ID</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--movies--movieId--delete">DELETE /movies/{movieId}</a></td>
            <td><p>delete a movie</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--movies--movieId--put">PUT /movies/{movieId}</a></td>
            <td><p>update a movie</p>
            </td>
        </tr>
        </tbody>
    </table>
    <h3 id="tag-Actor" class="swagger-summary-tag">Tag: Actor</h3>
    <p>Routes for actors</p>


    <table class="table table-bordered table-condensed swagger--summary">
        <thead>
        <tr>
            <th>Operation</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#operation--actors-post">POST /actors</a></td>
            <td><p>Add a new actor.</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--actors-get">GET /actors</a></td>
            <td><p>get the list of actors</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--actors--actorId--get">GET /actors/{actorId}</a></td>
            <td><p>Find Actor by ID</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--actors--actorId--delete">DELETE /actors/{actorId}</a></td>
            <td><p>delete an actor</p>
            </td>
        </tr>
        <tr>
            <td><a href="#operation--actors--actorId--put">PUT /actors/{actorId}</a></td>
            <td><p>update an actor</p>
            </td>
        </tr>
        </tbody>
    </table>




    <h2>Paths</h2>


    <span id="path--actors"></span>
    <div id="operation--actors-get" class="swagger--panel-operation-get panel">
        <div class="panel-heading">
            <div class="operation-summary">get the list of actors</div>
            <h3 class="panel-title"><span class="operation-name">GET</span> <strong>/actors</strong></h3>
            Tags:
            <a href="#tag-Actor">Actor</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-200">
                        200 OK

                    </dt>
                    <dd class="sw-response-200">
                        <div class="row">
                            <div class="col-md-12">
                                <p>successful operation</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                                <div  class="panel panel-definition">
                                    <div class="panel-body">

                                        <section class="json-schema-array-items">

                                                                                <span class="json-property-type">    <a class="json-schema-ref" href="#/definitions/Actor">Actor</a>
                                                                                </span>
                                            <span class="json-property-range" title="Value limits"></span>

                                            <div class="json-inner-schema">

                                            </div>
                                        </section>    </div>
                                </div></div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--actors-post" class="swagger--panel-operation-post panel">
        <div class="panel-heading">
            <div class="operation-summary">Add a new actor.</div>
            <h3 class="panel-title"><span class="operation-name">POST</span> <strong>/actors</strong></h3>
            Tags:
            <a href="#tag-Actor">Actor</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p><p>datas about the the actor</p>
                        </p>
                    </div>
                    <div class="col-md-6 sw-request-model">
                        <div  class="panel panel-definition">
                            <div class="panel-body">
                                <a class="json-schema-ref" href="#/definitions/Actor">Actor</a>
                            </div>
                        </div></div>
                </div>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-201">
                        201 Created

                    </dt>
                    <dd class="sw-response-201">
                        <div class="row">
                            <div class="col-md-12">
                                <p>actor created</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-405">
                        405 Method Not Allowed

                    </dt>
                    <dd class="sw-response-405">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid input</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>
    <span id="path--actors--actorId-"></span>
    <div id="operation--actors--actorId--delete" class="swagger--panel-operation-delete panel">
        <div class="panel-heading">
            <div class="operation-summary">delete an actor</div>
            <h3 class="panel-title"><span class="operation-name">DELETE</span> <strong>/actors/{actorId}</strong></h3>
            Tags:
            <a href="#tag-Actor">Actor</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            actorId
                        <td></td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-204">
                        204 No Content

                    </dt>
                    <dd class="sw-response-204">
                        <div class="row">
                            <div class="col-md-12">
                                <p>actor deleted successfully</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid Id supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>actor not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--actors--actorId--get" class="swagger--panel-operation-get panel">
        <div class="panel-heading">
            <div class="operation-summary">Find Actor by ID</div>
            <h3 class="panel-title"><span class="operation-name">GET</span> <strong>/actors/{actorId}</strong></h3>
            Tags:
            <a href="#tag-Actor">Actor</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">
                <p>Returns an actor</p>

            </section>

            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            actorId
                        <td><p>ID of actor to return</p>
                        </td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-200">
                        200 OK

                    </dt>
                    <dd class="sw-response-200">
                        <div class="row">
                            <div class="col-md-12">
                                <p>successful operation</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                                <div  class="panel panel-definition">
                                    <div class="panel-body">
                                        <a class="json-schema-ref" href="#/definitions/Actor">Actor</a>
                                    </div>
                                </div></div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid ID supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>actor not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--actors--actorId--put" class="swagger--panel-operation-put panel">
        <div class="panel-heading">
            <div class="operation-summary">update an actor</div>
            <h3 class="panel-title"><span class="operation-name">PUT</span> <strong>/actors/{actorId}</strong></h3>
            Tags:
            <a href="#tag-Actor">Actor</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p><p>new content of the actor</p>
                        </p>
                    </div>
                    <div class="col-md-6 sw-request-model">
                        <div  class="panel panel-definition">
                            <div class="panel-body">
                                <a class="json-schema-ref" href="#/definitions/Actor">Actor</a>
                            </div>
                        </div></div>
                </div>
            </section>
            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            actorId
                        <td></td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-204">
                        204 No Content

                    </dt>
                    <dd class="sw-response-204">
                        <div class="row">
                            <div class="col-md-12">
                                <p>actor updated successfully</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid ID supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>actor not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-405">
                        405 Method Not Allowed

                    </dt>
                    <dd class="sw-response-405">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid input</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>
    <span id="path--categories"></span>
    <div id="operation--categories-get" class="swagger--panel-operation-get panel">
        <div class="panel-heading">
            <div class="operation-summary">get the list of categories</div>
            <h3 class="panel-title"><span class="operation-name">GET</span> <strong>/categories</strong></h3>
            Tags:
            <a href="#tag-Category">Category</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-200">
                        200 OK

                    </dt>
                    <dd class="sw-response-200">
                        <div class="row">
                            <div class="col-md-12">
                                <p>successful operation</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                                <div  class="panel panel-definition">
                                    <div class="panel-body">

                                        <section class="json-schema-array-items">

                                                                                <span class="json-property-type">    <a class="json-schema-ref" href="#/definitions/Category">Category</a>
                                                                                </span>
                                            <span class="json-property-range" title="Value limits"></span>

                                            <div class="json-inner-schema">

                                            </div>
                                        </section>    </div>
                                </div></div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--categories-post" class="swagger--panel-operation-post panel">
        <div class="panel-heading">
            <div class="operation-summary">Add a new category.</div>
            <h3 class="panel-title"><span class="operation-name">POST</span> <strong>/categories</strong></h3>
            Tags:
            <a href="#tag-Category">Category</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p><p>datas about the the category</p>
                        </p>
                    </div>
                    <div class="col-md-6 sw-request-model">
                        <div  class="panel panel-definition">
                            <div class="panel-body">
                                <a class="json-schema-ref" href="#/definitions/Category">Category</a>
                            </div>
                        </div></div>
                </div>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-201">
                        201 Created

                    </dt>
                    <dd class="sw-response-201">
                        <div class="row">
                            <div class="col-md-12">
                                <p>category created</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-405">
                        405 Method Not Allowed

                    </dt>
                    <dd class="sw-response-405">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid input</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>
    <span id="path--categories--categoryId-"></span>
    <div id="operation--categories--categoryId--delete" class="swagger--panel-operation-delete panel">
        <div class="panel-heading">
            <div class="operation-summary">delete a category</div>
            <h3 class="panel-title"><span class="operation-name">DELETE</span> <strong>/categories/{categoryId}</strong></h3>
            Tags:
            <a href="#tag-Category">Category</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            categoryId
                        <td></td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-204">
                        204 No Content

                    </dt>
                    <dd class="sw-response-204">
                        <div class="row">
                            <div class="col-md-12">
                                <p>category deleted successfully</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid Id supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>category not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--categories--categoryId--get" class="swagger--panel-operation-get panel">
        <div class="panel-heading">
            <div class="operation-summary">Find Category by ID</div>
            <h3 class="panel-title"><span class="operation-name">GET</span> <strong>/categories/{categoryId}</strong></h3>
            Tags:
            <a href="#tag-Category">Category</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">
                <p>Returns a category</p>

            </section>

            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            categoryId
                        <td><p>ID of category to return</p>
                        </td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-200">
                        200 OK

                    </dt>
                    <dd class="sw-response-200">
                        <div class="row">
                            <div class="col-md-12">
                                <p>successful operation</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                                <div  class="panel panel-definition">
                                    <div class="panel-body">
                                        <a class="json-schema-ref" href="#/definitions/Category">Category</a>
                                    </div>
                                </div></div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid ID supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>category not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--categories--categoryId--put" class="swagger--panel-operation-put panel">
        <div class="panel-heading">
            <div class="operation-summary">update a category</div>
            <h3 class="panel-title"><span class="operation-name">PUT</span> <strong>/categories/{categoryId}</strong></h3>
            Tags:
            <a href="#tag-Category">Category</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p><p>new content of the category</p>
                        </p>
                    </div>
                    <div class="col-md-6 sw-request-model">
                        <div  class="panel panel-definition">
                            <div class="panel-body">
                                <a class="json-schema-ref" href="#/definitions/Category">Category</a>
                            </div>
                        </div></div>
                </div>
            </section>
            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            categoryId
                        <td></td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-204">
                        204 No Content

                    </dt>
                    <dd class="sw-response-204">
                        <div class="row">
                            <div class="col-md-12">
                                <p>category updated successfully</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid ID supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>category not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-405">
                        405 Method Not Allowed

                    </dt>
                    <dd class="sw-response-405">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid input</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>
    <span id="path--movies"></span>
    <div id="operation--movies-get" class="swagger--panel-operation-get panel">
        <div class="panel-heading">
            <div class="operation-summary">get the list of movies</div>
            <h3 class="panel-title"><span class="operation-name">GET</span> <strong>/movies</strong></h3>
            Tags:
            <a href="#tag-Movie">Movie</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
            </section>
            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            orderBy
                        <td></td>
                        <td>query</td>
                        <td>
                            <span class="json-property-type">string</span>    <span class="json-property-enum" title="Possible values">, x &isin; {
                                                        <span class="json-property-enum-item">title</span>
                                                    ,
                                                        <span class="json-property-enum-item">category</span>

                                                }
                                                </span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-200">
                        200 OK

                    </dt>
                    <dd class="sw-response-200">
                        <div class="row">
                            <div class="col-md-12">
                                <p>successful operation</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                                <div  class="panel panel-definition">
                                    <div class="panel-body">

                                        <section class="json-schema-array-items">

                                                                                <span class="json-property-type">    <a class="json-schema-ref" href="#/definitions/Movie">Movie</a>
                                                                                </span>
                                            <span class="json-property-range" title="Value limits"></span>

                                            <div class="json-inner-schema">

                                            </div>
                                        </section>    </div>
                                </div></div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--movies-post" class="swagger--panel-operation-post panel">
        <div class="panel-heading">
            <div class="operation-summary">Add a new movie.</div>
            <h3 class="panel-title"><span class="operation-name">POST</span> <strong>/movies</strong></h3>
            Tags:
            <a href="#tag-Movie">Movie</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p><p>datas about the the movie</p>
                        </p>
                    </div>
                    <div class="col-md-6 sw-request-model">
                        <div  class="panel panel-definition">
                            <div class="panel-body">
                                <a class="json-schema-ref" href="#/definitions/Movie">Movie</a>
                            </div>
                        </div></div>
                </div>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-201">
                        201 Created

                    </dt>
                    <dd class="sw-response-201">
                        <div class="row">
                            <div class="col-md-12">
                                <p>movie created</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-405">
                        405 Method Not Allowed

                    </dt>
                    <dd class="sw-response-405">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid input</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>
    <span id="path--movies--movieId-"></span>
    <div id="operation--movies--movieId--delete" class="swagger--panel-operation-delete panel">
        <div class="panel-heading">
            <div class="operation-summary">delete a movie</div>
            <h3 class="panel-title"><span class="operation-name">DELETE</span> <strong>/movies/{movieId}</strong></h3>
            Tags:
            <a href="#tag-Movie">Movie</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            movieId
                        <td></td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-204">
                        204 No Content

                    </dt>
                    <dd class="sw-response-204">
                        <div class="row">
                            <div class="col-md-12">
                                <p>movie deleted successfully</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid Id supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>movie not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--movies--movieId--get" class="swagger--panel-operation-get panel">
        <div class="panel-heading">
            <div class="operation-summary">Find Movie by ID</div>
            <h3 class="panel-title"><span class="operation-name">GET</span> <strong>/movies/{movieId}</strong></h3>
            Tags:
            <a href="#tag-Movie">Movie</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">
                <p>Returns a movie</p>

            </section>

            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            movieId
                        <td><p>ID of movie to return</p>
                        </td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-200">
                        200 OK

                    </dt>
                    <dd class="sw-response-200">
                        <div class="row">
                            <div class="col-md-12">
                                <p>successful operation</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                                <div  class="panel panel-definition">
                                    <div class="panel-body">
                                        <a class="json-schema-ref" href="#/definitions/Movie">Movie</a>
                                    </div>
                                </div></div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid ID supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>movie not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>    <div id="operation--movies--movieId--put" class="swagger--panel-operation-put panel">
        <div class="panel-heading">
            <div class="operation-summary">update a movie</div>
            <h3 class="panel-title"><span class="operation-name">PUT</span> <strong>/movies/{movieId}</strong></h3>
            Tags:
            <a href="#tag-Movie">Movie</a>
        </div>
        <div class="panel-body">
            <section class="sw-operation-description">

            </section>

            <section class="sw-request-body">

                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p><p>new content of the movie</p>
                        </p>
                    </div>
                    <div class="col-md-6 sw-request-model">
                        <div  class="panel panel-definition">
                            <div class="panel-body">
                                <a class="json-schema-ref" href="#/definitions/Movie">Movie</a>
                            </div>
                        </div></div>
                </div>
            </section>
            <section class="sw-request-params">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="sw-param-name"></th>
                        <th class="sw-param-description"></th>
                        <th class="sw-param-type"></th>
                        <th class="sw-param-data-type"></th>
                        <th class="sw-param-annotation"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            movieId
                        <td></td>
                        <td>path</td>
                        <td>
                            <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                            <span class="json-property-range" title="Value limits"></span>

                        </td>
                        <td>
                            <span class="json-property-required"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>

            <section class="sw-responses">
                <p><span class="label label-default">application/json</span> <span class="label label-default">application/xml</span>
                </p>

                <dl>
                    <dt class="sw-response-204">
                        204 No Content

                    </dt>
                    <dd class="sw-response-204">
                        <div class="row">
                            <div class="col-md-12">
                                <p>movie updated successfully</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-400">
                        400 Bad Request

                    </dt>
                    <dd class="sw-response-400">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid ID supplied</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-404">
                        404 Not Found

                    </dt>
                    <dd class="sw-response-404">
                        <div class="row">
                            <div class="col-md-12">
                                <p>movie not found</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                    <dt class="sw-response-405">
                        405 Method Not Allowed

                    </dt>
                    <dd class="sw-response-405">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Invalid input</p>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 sw-response-model">
                            </div>

                        </div>                </dd>
                </dl>
            </section>
        </div>
    </div>



    <h2>Schema definitions</h2>


    <div id="definition-Actor" class="panel panel-definition">
        <div class="panel-heading">
            <h3 class="panel-title"><a name="/definitions/Actor"></a>Actor:
                <span class="json-property-type">
                <span class="json-property-type">object</span>
                <span class="json-property-range" title="Value limits"></span>

                </span>
            </h3>
        </div>
        <div class="panel-body">

            <section class="json-schema-properties">
                <dl>
                    <dt data-property-name="id">
                        <span class="json-property-name">id:</span>

                        <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                    <dt data-property-name="firstName">
                        <span class="json-property-name">firstName:</span>

                        <span class="json-property-type">string</span>
                        <span class="json-property-range" title="Value limits"></span>

                        <span class="json-property-required"></span>
                    </dt>
                    <dd>

                        <div class="json-inner-schema">
                            <section class="json-schema-example">
                                                                <pre><code class="lang-json"><span class="hljs-string">&quot;John&quot;</span>
                                                        </code></pre>

                            </section>

                        </div>
                    </dd>
                    <dt data-property-name="lastName">
                        <span class="json-property-name">lastName:</span>

                        <span class="json-property-type">string</span>
                        <span class="json-property-range" title="Value limits"></span>

                        <span class="json-property-required"></span>
                    </dt>
                    <dd>

                        <div class="json-inner-schema">
                            <section class="json-schema-example">
                                                                <pre><code class="lang-json"><span class="hljs-string">&quot;Travolta&quot;</span>
                                                        </code></pre>

                            </section>

                        </div>
                    </dd>
                </dl>
            </section>
        </div>
    </div>
    <div id="definition-Category" class="panel panel-definition">
        <div class="panel-heading">
            <h3 class="panel-title"><a name="/definitions/Category"></a>Category:
                <span class="json-property-type">
                <span class="json-property-type">object</span>
                <span class="json-property-range" title="Value limits"></span>

                </span>
            </h3>
        </div>
        <div class="panel-body">

            <section class="json-schema-properties">
                <dl>
                    <dt data-property-name="id">
                        <span class="json-property-name">id:</span>

                        <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                    <dt data-property-name="name">
                        <span class="json-property-name">name:</span>

                        <span class="json-property-type">string</span>
                        <span class="json-property-range" title="Value limits"></span>

                        <span class="json-property-required"></span>
                    </dt>
                    <dd>

                        <div class="json-inner-schema">
                            <section class="json-schema-example">
                                                                <pre><code class="lang-json"><span class="hljs-string">&quot;my category&quot;</span>
                                                        </code></pre>

                            </section>

                        </div>
                    </dd>
                    <dt data-property-name="movies">
                        <span class="json-property-name">movies:</span>

                        <span class="json-property-type">    <a class="json-schema-ref" href="#/definitions/Movie">Movie</a>
                                                    </span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                </dl>
            </section>
        </div>
    </div>
    <div id="definition-Movie" class="panel panel-definition">
        <div class="panel-heading">
            <h3 class="panel-title"><a name="/definitions/Movie"></a>Movie:
                <span class="json-property-type">
                <span class="json-property-type">object</span>
                <span class="json-property-range" title="Value limits"></span>

                </span>
            </h3>
        </div>
        <div class="panel-body">

            <section class="json-schema-properties">
                <dl>
                    <dt data-property-name="id">
                        <span class="json-property-name">id:</span>

                        <span class="json-property-type">integer</span>    <span class="json-property-format">(int64)</span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                    <dt data-property-name="title">
                        <span class="json-property-name">title:</span>

                        <span class="json-property-type">string</span>
                        <span class="json-property-range" title="Value limits"></span>

                        <span class="json-property-required"></span>
                    </dt>
                    <dd>

                        <div class="json-inner-schema">
                            <section class="json-schema-example">
                                                                <pre><code class="lang-json"><span class="hljs-string">&quot;Pulp Fiction&quot;</span>
                                                        </code></pre>

                            </section>

                        </div>
                    </dd>
                    <dt data-property-name="year">
                        <span class="json-property-name">year:</span>

                        <span class="json-property-type">string</span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                    <dt data-property-name="poster">
                        <span class="json-property-name">poster:</span>

                        <span class="json-property-type">string</span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                    <dt data-property-name="synopsis">
                        <span class="json-property-name">synopsis:</span>

                        <span class="json-property-type">string</span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                    <dt data-property-name="category">
                        <span class="json-property-name">category:</span>

                        <span class="json-property-type">    <a class="json-schema-ref" href="#/definitions/Category">Category</a>
                                                    </span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                    <dt data-property-name="actors">
                        <span class="json-property-name">actors:</span>

                        <span class="json-property-type">    <a class="json-schema-ref" href="#/definitions/Actor">Actor</a>
                                                    </span>
                        <span class="json-property-range" title="Value limits"></span>

                    </dt>
                    <dd>

                        <div class="json-inner-schema">

                        </div>
                    </dd>
                </dl>
            </section>
        </div>
    </div>
</div>
<script src="/js/bundle.js" type="application/javascript"></script>
</body>
</html>
