<template>
  <div id="app">
    <b-container>
    <router-view/>
    </b-container>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      API_URL: 'http://localhost:8000',
      headers: {headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'}, emulateJSON: true}
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
